In [189]:
import pandas as pd
import numpy as np
from collections import Counter

In [190]:
df1_i = pd.read_csv('raw_account_70_new.csv')
df1_t = pd.read_csv('raw_account_30_new.csv')
df2_i = pd.read_csv('raw_data_70_new.csv')
df2_t = pd.read_csv('raw_data_30_new.csv')
df3_i = pd.read_csv('raw_enquiry_70_new.csv')
df3_t = pd.read_csv('raw_enquiry_30_new.csv')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (12,20,63) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [191]:
c_1 = df1_i['customer_no'] + 13000
c_2 = df2_i['customer_no'] + 13000
c_3 = df3_i['customer_no'] + 13000
df1_i['customer_no'] = c_1
df2_i['customer_no'] = c_2
df3_i['customer_no'] = c_3
len_1 = len(df1_i)
len_2 = len(df2_i)
len_3 = len(df3_i)
df1 = pd.concat([df1_i,df1_t],axis=0)
df2 = pd.concat([df2_i,df2_t],axis=0)
df3 = pd.concat([df3_i,df3_t],axis=0)

coll = [df1,df2,df3]
for i in coll:
    i.reset_index(inplace= True)
    i.drop(['index'],axis=1,inplace=True)

In [239]:
df2 = pd.concat([df2_i,df2_t],axis=0)
df2.reset_index(inplace= True)
df2.drop(['index'],axis=1,inplace=True)

In [192]:
for i in coll:
    i.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 265897 entries, 0 to 265896
Data columns (total 21 columns):
dt_opened              265897 non-null object
customer_no            265897 non-null int64
upload_dt              265897 non-null object
acct_type              265897 non-null int64
owner_indic            265897 non-null int64
opened_dt              265268 non-null object
last_paymt_dt          229707 non-null object
closed_dt              110179 non-null object
reporting_dt           265897 non-null object
high_credit_amt        253327 non-null float64
cur_balance_amt        265897 non-null int64
amt_past_due           1274 non-null float64
paymenthistory1        265897 non-null object
paymenthistory2        111774 non-null object
paymt_str_dt           265895 non-null object
paymt_end_dt           265895 non-null object
creditlimit            69344 non-null float64
cashlimit              50027 non-null float64
rateofinterest         35340 non-null object
paymentfrequency       90924 non-null float64
actualpaymentamount    58316 non-null float64
dtypes: float64(6), int64(4), object(11)
memory usage: 42.6+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34136 entries, 0 to 34135
Data columns (total 83 columns):
dt_opened      34136 non-null object
customer_no    34136 non-null int64
entry_time     34112 non-null object
feature_1      34112 non-null object
feature_2      30089 non-null object
feature_3      30089 non-null float64
feature_4      34112 non-null float64
feature_5      34112 non-null object
feature_6      34112 non-null float64
feature_7      34112 non-null float64
feature_8      1793 non-null object
feature_9      1793 non-null object
feature_10     71 non-null object
feature_11     34112 non-null object
feature_12     34112 non-null object
feature_13     15614 non-null object
feature_14     23140 non-null float64
feature_15     34099 non-null object
feature_16     34097 non-null object
feature_17     1455 non-null object
feature_18     31 non-null object
feature_19     34112 non-null float64
feature_20     34136 non-null object
feature_21     34112 non-null object
feature_22     34136 non-null object
feature_23     34112 non-null object
feature_24     33220 non-null object
feature_25     34112 non-null float64
feature_26     34112 non-null float64
feature_27     28966 non-null object
feature_28     34112 non-null object
feature_29     34112 non-null float64
feature_30     34112 non-null float64
feature_31     34112 non-null float64
feature_32     34112 non-null object
feature_33     34112 non-null object
feature_34     34112 non-null float64
feature_35     34112 non-null float64
feature_36     26006 non-null object
feature_37     26006 non-null object
feature_38     26006 non-null object
feature_39     34112 non-null float64
feature_40     34112 non-null float64
feature_41     34112 non-null float64
feature_42     34112 non-null float64
feature_43     34112 non-null object
feature_44     34112 non-null float64
feature_45     14518 non-null object
feature_46     33992 non-null object
feature_47     34136 non-null object
feature_48     7771 non-null object
feature_49     159 non-null float64
feature_50     34112 non-null object
feature_51     17798 non-null object
feature_52     34112 non-null float64
feature_53     17542 non-null object
feature_54     34112 non-null object
feature_55     34112 non-null float64
feature_56     34112 non-null float64
feature_57     3431 non-null object
feature_58     34112 non-null object
feature_59     34112 non-null object
feature_60     34112 non-null object
feature_61     15 non-null object
feature_62     34112 non-null object
feature_63     34112 non-null object
feature_64     34112 non-null float64
feature_65     34112 non-null float64
feature_66     34112 non-null float64
feature_67     34112 non-null float64
feature_68     34112 non-null float64
feature_69     34112 non-null float64
feature_70     34112 non-null object
feature_71     34112 non-null float64
feature_72     34112 non-null object
feature_73     4219 non-null object
feature_74     24 non-null float64
feature_75     34112 non-null object
feature_76     34112 non-null float64
feature_77     34136 non-null object
feature_78     34112 non-null float64
feature_79     34112 non-null object
Bad_label      34136 non-null int64
dtypes: float64(32), int64(2), object(49)
memory usage: 21.6+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 586687 entries, 0 to 586686
Data columns (total 6 columns):
dt_opened      586687 non-null object
customer_no    586687 non-null int64
upload_dt      586535 non-null object
enquiry_dt     586535 non-null object
enq_purpose    586535 non-null float64
enq_amt        586535 non-null float64
dtypes: float64(2), int64(1), object(3)
memory usage: 26.9+ MB

In [193]:
col_dates_1 = ['dt_opened', 'upload_dt','opened_dt', 'last_paymt_dt', 'closed_dt',
             'reporting_dt','paymt_str_dt', 'paymt_end_dt']
for col in col_dates_1:
    df1[col] = pd.to_datetime(df1[col])

roi = []
for i in df1.rateofinterest:
    try:
        roi.append(float(i.replace('"','')))
    except:
        roi.append(i)
df1['rateofinterest'] = roi
df1['rateofinterest'] = df1.rateofinterest.astype('float')
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 265897 entries, 0 to 265896
Data columns (total 21 columns):
dt_opened              265897 non-null datetime64[ns]
customer_no            265897 non-null int64
upload_dt              265897 non-null datetime64[ns]
acct_type              265897 non-null int64
owner_indic            265897 non-null int64
opened_dt              265268 non-null datetime64[ns]
last_paymt_dt          229707 non-null datetime64[ns]
closed_dt              110179 non-null datetime64[ns]
reporting_dt           265897 non-null datetime64[ns]
high_credit_amt        253327 non-null float64
cur_balance_amt        265897 non-null int64
amt_past_due           1274 non-null float64
paymenthistory1        265897 non-null object
paymenthistory2        111774 non-null object
paymt_str_dt           265895 non-null datetime64[ns]
paymt_end_dt           265895 non-null datetime64[ns]
creditlimit            69344 non-null float64
cashlimit              50027 non-null float64
rateofinterest         35340 non-null float64
paymentfrequency       90924 non-null float64
actualpaymentamount    58316 non-null float64
dtypes: datetime64[ns](8), float64(7), int64(4), object(2)
memory usage: 42.6+ MB

In [194]:
uni_df2 = [len(df2[i].unique()) for i in df2]
nulls_df2 = [df2[i].isnull().sum() for i in df2]
dt_df2 = [df2[i].dtype for i in df2]
analyz_df2 = pd.DataFrame([uni_df2,nulls_df2,dt_df2],index=['uniq','nulls','dty'],columns=df2.columns)
analyz_df2.T

              uniq  nulls      dty
dt_opened      197      0   object
customer_no  34136      0    int64
entry_time     304     24   object
feature_1        8     24   object
feature_2      289   4047   object
feature_3      272   4047  float64
feature_4        4     24  float64
feature_5        2     24   object
feature_6        2     24  float64
feature_7      513     24  float64
feature_8       22  32343   object
feature_9       22  32343   object
feature_10      14  34065   object
feature_11       3     24   object
feature_12      17     24   object
feature_13      17  18522   object
feature_14       3  10996  float64
feature_15     422     37   object
feature_16     618     39   object
feature_17     388  32681   object
feature_18      18  34105   object
feature_19       3     24  float64
feature_20   12384      0   object
feature_21    9565     24   object
feature_22    3762      0   object
feature_23       3     24   object
feature_24     975    916   object
feature_25       3     24  float64
feature_26      12     24  float64
feature_27      12   5170   object
...            ...    ...      ...
feature_51      11  16338   object
feature_52     758     24  float64
feature_53     198  16594   object
feature_54       2     24   object
feature_55       6     24  float64
feature_56      13     24  float64
feature_57       3  30705   object
feature_58       3     24   object
feature_59       3     24   object
feature_60       3     24   object
feature_61      14  34121   object
feature_62       3     24   object
feature_63     528     24   object
feature_64      31     24  float64
feature_65     471     24  float64
feature_66    3671     24  float64
feature_67       3     24  float64
feature_68       4     24  float64
feature_69    5958     24  float64
feature_70     134     24   object
feature_71      15     24  float64
feature_72       3     24   object
feature_73       3  29917   object
feature_74       4  34112  float64
feature_75      90     24   object
feature_76       6     24  float64
feature_77    3618      0   object
feature_78       4     24  float64
feature_79       3     24   object
Bad_label        2      0    int64

[83 rows x 3 columns]

In [240]:
# email processing
df2.feature_24.fillna(df2.feature_24.mode()[0],inplace= True)
bb1 = [i[:5].upper() for i in df2.feature_24]
cc1 = [i.split('.')[-1].upper() for i in df2.feature_24]
bb2 = [i for i,_ in Counter(bb1).most_common(7)]
cc2 = [i for i,_ in Counter(cc1).most_common(6)]
bb = [] # contains first part of email
for i in bb1:
    if i in bb2:
        bb.append(i)
    else:
        bb.append('OTHER')
cc = [] # contains second part of email
for i in cc1:
    if i in cc2:
        cc.append(i)
    else:
        cc.append('OTHER')
df2['feature_24'] = cc # can also use bb

df2.feature_45.fillna(df2.feature_45.mode()[0],inplace= True)
bb1 = [i[:5].upper() for i in df2.feature_45]
cc1 = [i.split('.')[-1].upper() for i in df2.feature_45]
bb2 = [i for i,_ in Counter(bb1).most_common(7)]
cc2 = [i for i,_ in Counter(cc1).most_common(6)]
bb = [] # contains first part of email
for i in bb1:
    if i in bb2:
        bb.append(i)
    else:
        bb.append('OTHER')
cc = [] # contains second part of email
for i in cc1:
    if i in cc2:
        cc.append(i)
    else:
        cc.append('OTHER')
df2['feature_45'] = bb # can also use cc

In [241]:
df2['feature_29'] = df2.feature_29//10000 #pincodes 
df2['feature_66'] = df2.feature_66//10000
# used 44 & dropped 28,44,45 because all represent nearly same thing

In [242]:
#Dates
jan_2016 = pd.to_datetime('Jan-2016')  # Reference Date
li_op = []
for i in df2.dt_opened:
    li_op.append((jan_2016 - pd.to_datetime(i)).days)
df2['dt_opened'] = li_op

df2.entry_time.fillna(df2.entry_time.mode()[0],inplace=True)
li_et = []
for i in df2.entry_time:
    li_et.append((jan_2016 - pd.to_datetime(i)).days)
df2['entry_time'] = li_et

df2.feature_2.fillna(df2.feature_2.mode()[0],inplace=True)
li_2 = []
for i in df2.feature_2:
    li_2.append((jan_2016 - pd.to_datetime(i)).days)
df2['feature_2'] = li_2

df2.feature_21.fillna('1-Jan-86',inplace=True)
li_21 = []
for i in df2.feature_21:
    year_21 = int(i.split('-')[-1])
    if year_21<17:
        year_21 += 2000
    else:
        year_21 += 1900
    li_21.append(2016 - year_21)
df2['feature_21'] = li_21 

df2['feature_30'] = df2.feature_30.fillna(df2.feature_30.mode()[0])
df2['feature_30'] = 2016 - df2.feature_30

df2['feature_39'] = df2.feature_39.replace({0:2015})
df2['feature_39'] = df2.feature_39.fillna(df2.feature_39.mode()[0])
df2['feature_39'] = 2016 - df2.feature_39

df2.feature_53.fillna('16',inplace=True)
li_53 = []
for i in df2.feature_53:
    year_53 = int(i.split('-')[-1])
    if year_53<17:
        year_53 += 2000
    else:
        year_53 += 1900
    li_53.append(2016 - year_53)
df2['feature_53'] = li_53

df2.feature_63.fillna(df2.feature_63.mode()[0],inplace=True)
df2['feature_63'] = [2016 - int(i[:4]) for i in df2.feature_63]

df2.feature_70.replace({'0-0':'1-Jan'},inplace=True)
df2.feature_70.fillna('1-Jan',inplace=True)
li_70 = []
for i in df2.feature_70:
    if i[-2:] == '00':
        i = '1-' + i[:3] + '-2015'
    elif i[0] == '0':
        i = '1-' + i.split('-')[-1] + '-2015'
    else:
        i += '-2015'
    li_70.append((jan_2016 - pd.to_datetime(i)).days)
df2['feature_70'] = li_70

In [243]:
# designation
df2.feature_38.fillna('NAN',inplace=True)
aa = (' '.join(df2.feature_38.tolist())).split(' ') # all the designations
aa =  [i for i,_ in Counter(aa).most_common(100)] 
f_38 = pd.DataFrame()
for i in aa:
     f_38 = pd.concat([f_38,pd.Series([int(i in j.split(' ')) for j in df2.feature_38], name= 'desg_'+ i )],axis=1)

In [250]:
#categorical vars
# not using 24
cats = [1,8,11,12,14,19,23,25,27,29,32,33,34,36,37,45,46,48,51,55,56,57,58,59,60,62,66,67,72,73,79] 
cats = ['feature_' + str(i) for i in cats]
num_cats = [14,19,25,29,34,55,56,66,67] #categorical vars dtype float
num_cats = ['feature_' + str(i) for i in num_cats]
df2[num_cats] = df2[num_cats].astype('str')
df2_cats = pd.get_dummies(df2[cats])
df2_cats = pd.concat([df2_cats,f_38],axis=1)

In [200]:
df1[df1.customer_no == 6]

,dt_opened,customer_no,upload_dt,acct_type,owner_indic,opened_dt,last_paymt_dt,closed_dt,reporting_dt,high_credit_amt,...,amt_past_due,paymenthistory1,paymenthistory2,paymt_str_dt,paymt_end_dt,creditlimit,cashlimit,rateofinterest,paymentfrequency,actualpaymentamount
229058,2015-05-27,6,2015-05-25,10,1,2008-01-17,2014-11-14,NaT,2015-03-31,31881.0,...,9083.0,"""""""1260930650360040650350050000650360050360030...","""""""XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX0...",2015-03-01,2012-04-01,50000.0,31200.0,29.9,3.0,358.0
229059,2015-05-27,6,2015-05-25,10,2,2008-02-22,2015-03-20,NaT,2015-04-22,1813753.0,...,23027.0,"""""""0010000010000000000000000000000000000000000...","""""""0000000000000000010000000000000000000000000...",2015-04-01,2012-05-01,2000000.0,100000.0,30.0,3.0,222149.0
229060,2015-05-27,6,2015-05-25,10,1,2013-05-27,2014-07-08,NaT,2015-04-30,270332.0,...,NaN,"""""""0000000000000000000000000000000000000000440...","""""""000000000000000000""""""",2015-04-01,2013-05-01,NaN,NaN,NaN,NaN,NaN
229061,2015-05-27,6,2015-05-25,13,1,2012-11-10,NaT,NaT,2015-02-28,5600000.0,...,NaN,"""""""STDSTD058030030STD058030STD030STDSTD030STDS...","""""""STD030066036030STDSTDSTDSTDSTD""""""",2015-02-01,2012-11-01,NaN,NaN,NaN,NaN,NaN
229062,2015-05-27,6,2015-05-25,3,4,2012-02-02,2015-04-01,NaT,2015-04-30,47000000.0,...,NaN,"""""""0000000000000000000000000000000000000000000...","""""""0000000000000000000000000000000000000000000...",2015-04-01,2012-05-01,NaN,NaN,NaN,NaN,NaN
229063,2015-05-27,6,2015-05-25,10,2,2004-12-30,NaT,2009-11-04,2010-01-31,NaN,...,NaN,"""""""0000000000000000000000000000000000000000000...","""""""0000000000000000000000000000000000000000000...",2009-11-01,2006-12-01,NaN,NaN,NaN,NaN,NaN

In [201]:
rec_365 = []
for i in df3.enquiry_dt:
    try:
        rec_365.append(i[-2:] == '15')
    except:
        rec_365.append(False)
rdf3 = df3[rec_365]
count_enquiry_recency_365 = pd.Series([len(rdf3[rdf3.customer_no == i]) for i in df2.customer_no])

In [202]:
col_dates_3 = ['dt_opened', 'upload_dt', 'enquiry_dt']
for col in col_dates_3:
    df3[col] = pd.to_datetime(df3[col])

In [226]:
df1.paymenthistory1.fillna('',inplace=True)
df1.paymenthistory2.fillna('',inplace=True)
oct_2015 =  pd.to_datetime('1-Oct-2015')

rec_90 = df3[df3.enquiry_dt>= oct_2015]

count_enquiry_recency_90 = []
mean_diff_lastpaymt_opened_dt = []
payment_history_avg_dpd_0_29_bucket = []
total_diff_lastpaymt_opened_dt = []
utilisation_trend = []
Ratio_currbalance_creditlimit  = []
mean_diff_open_enquiry_dt = []
payment_history_mean_length = []
max_freq_enquiry = []

for cust in df2.customer_no:
    aa = df1[df1.customer_no == cust]
    zz = df3[df3.customer_no == cust]
    cc = []
    ee = []
#     for k in range(len(aa)):
    bb = aa['reporting_dt'] - aa['paymt_str_dt']
    dd = aa['last_paymt_dt'] - aa['opened_dt']
        
    bb = [i.days for i in bb]
    dd = [i.days for i in dd]
    bb = pd.Series(bb)
    total_diff_lastpaymt_opened_dt.append(sum(dd))
    mean_diff_lastpaymt_opened_dt.append(np.mean(dd))
    payment_history_avg_dpd_0_29_bucket.append(len(bb[bb<=30]))
    
    cc = []
    ee = []
    f_1 = []
#     for k in range(len(aa)):
    try:
        utilisation_trend.append(((aa.cur_balance_amt.sum())*(aa.creditlimit.mean() + aa.cashlimit.mean()))/((aa.creditlimit.sum())*(aa.cur_balance_amt.mean())))
    except:
        utilisation_trend.append(np.NaN)

    try:
        Ratio_currbalance_creditlimit.append((aa.cur_balance_amt.sum())/(aa.creditlimit.sum()))
    except:
        Ratio_currbalance_creditlimit.append(np.NaN)
    
    gg = zz.dt_opened - zz.enquiry_dt
    mean_diff_open_enquiry_dt.append(gg.mean().days)
    
    jj = np.mean([len(i) + len(j) for i,j in zip(aa.paymenthistory1,aa.paymenthistory2)])
    payment_history_mean_length.append(jj)
    
    max_freq_enquiry.append(Counter(zz.enq_purpose).most_common(1)[0][0])
    
    count_enquiry_recency_90.append(len(rec_90[rec_90.customer_no == cust]))

    
count_enquiry_recency_90 = pd.Series(count_enquiry_recency_90)
max_freq_enquiry = pd.get_dummies(max_freq_enquiry)
payment_history_mean_length = pd.Series(payment_history_mean_length)
mean_diff_open_enquiry_dt = pd.Series(mean_diff_open_enquiry_dt)
Ratio_currbalance_creditlimit = pd.Series(Ratio_currbalance_creditlimit)
Ratio_currbalance_creditlimit.replace({np.inf: 2500, -np.inf: -110}, inplace=True)

mean_diff_lastpaymt_opened_dt = pd.Series(mean_diff_lastpaymt_opened_dt)
payment_history_avg_dpd_0_29_bucket = pd.Series(payment_history_avg_dpd_0_29_bucket)
total_diff_lastpaymt_opened_dt = pd.Series(total_diff_lastpaymt_opened_dt)
utilisation_trend = pd.Series(utilisation_trend)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:43: RuntimeWarning: divide by zero encountered in true_divide
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:43: RuntimeWarning: invalid value encountered in true_divide
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:38: RuntimeWarning: invalid value encountered in double_scalars

In [227]:
print(len(count_enquiry_recency_90))
print(len(payment_history_mean_length))
print(len(mean_diff_open_enquiry_dt))
print(len(count_enquiry_recency_365))
print(len(mean_diff_lastpaymt_opened_dt))
print(len(payment_history_avg_dpd_0_29_bucket))
print(len(total_diff_lastpaymt_opened_dt))
print(len(utilisation_trend))
print(len(max_freq_enquiry))

34136
34136
34136
34136
34136
34136
34136
34136
34136

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: RuntimeWarning: invalid value encountered in double_scalars
  """

1000

In [245]:
label = df2.Bad_label
df2.drop(['customer_no','feature_5','feature_6','feature_9','feature_10','feature_13','feature_15','feature_16',
          'feature_17','feature_18','feature_20','feature_22','feature_24','feature_28',
          'feature_31','feature_38','feature_43','feature_44','feature_47','feature_49','feature_50',
          'feature_54','feature_61','feature_74','feature_75','feature_77','Bad_label'],axis=1 , inplace=True)

In [183]:
count_enquiry_recency_90 = pd.Series(count_enquiry_recency_90)
payment_history_mean_length = pd.Series(payment_history_mean_length)
mean_diff_open_enquiry_dt = pd.Series(mean_diff_open_enquiry_dt)
count_enquiry_recency_365 = pd.Series(count_enquiry_recency_365)
mean_diff_lastpaymt_opened_dt = pd.Series(mean_diff_lastpaymt_opened_dt)
payment_history_avg_dpd_0_29_bucket = pd.Series(payment_history_avg_dpd_0_29_bucket)
total_diff_lastpaymt_opened_dt = pd.Series(total_diff_lastpaymt_opened_dt)
utilisation_trend = pd.Series(utilisation_trend)

34136
34136
34136
34136
34136
68272
68272
34136

In [276]:
df2_num = pd.concat([df2.drop(cats,axis=1), count_enquiry_recency_90,max_freq_enquiry,payment_history_mean_length,
                     mean_diff_open_enquiry_dt,count_enquiry_recency_365,Ratio_currbalance_creditlimit,mean_diff_lastpaymt_opened_dt,
                     payment_history_avg_dpd_0_29_bucket,total_diff_lastpaymt_opened_dt, utilisation_trend],axis= 1)
# df2_num.columns = range(len(df2_num.columns))
# df2_num.fillna(df2_num.mean(),inplace=True)

In [269]:
df2_num.describe().round()

,0,1,2,3,4,5,6,7,8,9,...,44,45,46,47,48,49,50,51,52,53
count,34136.0,34136.0,34136.0,34136.0,34136.0,34136.0,34136.0,34136.0,34136.0,34136.0,...,34136.0,34136.0,34136.0,34136.0,34136.0,34136.0,34136.0,34136.0,34136.0,34136.0
mean,106.0,133.0,126.0,723.0,2.0,118884.0,35.0,1.0,15.0,33182.0,...,0.0,0.0,58.0,926.0,3.0,410.0,598.0,6.0,3279.0,5.0
std,69.0,69.0,68.0,35.0,1.0,78313.0,7.0,1.0,12.0,121346.0,...,0.0,0.0,22.0,570.0,4.0,918.0,281.0,4.0,2773.0,4.0
min,1.0,8.0,8.0,-1.0,1.0,0.0,19.0,0.0,1.0,1.0,...,0.0,0.0,9.0,8.0,0.0,-110.0,1.0,0.0,1.0,1.0
25%,46.0,76.0,74.0,701.0,1.0,73000.0,30.0,0.0,5.0,1.0,...,0.0,0.0,41.0,488.0,1.0,1.0,491.0,3.0,1997.0,3.0
50%,95.0,128.0,112.0,723.0,3.0,104000.0,33.0,0.0,11.0,30000.0,...,0.0,0.0,57.0,782.0,2.0,2.0,598.0,5.0,3279.0,5.0
75%,161.0,188.0,182.0,741.0,3.0,139000.0,38.0,2.0,24.0,43000.0,...,0.0,0.0,73.0,1262.0,5.0,11.0,598.0,8.0,3279.0,5.0
max,260.0,334.0,333.0,896.0,3.0,2500000.0,77.0,10.0,52.0,15000000.0,...,1.0,1.0,120.0,3530.0,60.0,2836.0,4802.0,78.0,72893.0,165.0

In [279]:
df2_num.columns[19]

'feature_66'

In [280]:
df2_num['feature_66']

0        400610.0
1        560042.0
2        560042.0
3        411001.0
4        122009.0
5        400012.0
6        110075.0
7        560052.0
8        560052.0
9        122011.0
10       110092.0
11       400012.0
12       400021.0
13       400088.0
14       110030.0
15       400053.0
16       416216.0
17       201301.0
18       400026.0
19       400007.0
20       400088.0
21       600041.0
22       600017.0
23       700027.0
24       600017.0
25       400067.0
26       110001.0
27       110065.0
28       110011.0
29       600031.0
           ...
34106    560085.0
34107    500033.0
34108    380001.0
34109    110017.0
34110    110018.0
34111    110045.0
34112    400610.0
34113    500010.0
34114    110017.0
34115    560021.0
34116    122001.0
34117    110045.0
34118    335001.0
34119    834005.0
34120    110059.0
34121    110041.0
34122    131001.0
34123    380013.0
34124    110046.0
34125    110086.0
34126    110033.0
34127    110075.0
34128    110059.0
34129    110062.0
34130    400049.0
34131    110042.0
34132    242001.0
34133    500018.0
34134    845401.0
34135    600099.0
Name: feature_66, Length: 34136, dtype: float64

In [273]:
df2_num[9].mask(df2_num[9] - df2_num[9].mean() > 3*(df2_num[9].std()) , df2_num[9].mean() +  3*(df2_num[9].std()) ).describe()

count     34136.000000
mean      31375.729895
std       38053.605881
min           1.000000
25%           1.000000
50%       30000.000000
75%       43000.000000
max      397219.029365
Name: 9, dtype: float64

In [247]:
# df3.groupby('customer_no')['enq_purpose'].transform(lambda x: Counter(x).most_common(1)[0][0])
df2_num.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34136 entries, 0 to 34135
Data columns (total 54 columns):
dt_opened     34136 non-null int64
entry_time    34136 non-null int64
feature_2     34136 non-null int64
feature_3     30089 non-null float64
feature_4     34112 non-null float64
feature_7     34112 non-null float64
feature_21    34136 non-null int64
feature_26    34112 non-null float64
feature_30    34136 non-null float64
feature_35    34112 non-null float64
feature_39    34136 non-null float64
feature_40    34112 non-null float64
feature_41    34112 non-null float64
feature_42    34112 non-null float64
feature_52    34112 non-null float64
feature_53    34136 non-null int64
feature_63    34136 non-null int64
feature_64    34112 non-null float64
feature_65    34112 non-null float64
feature_66    34112 non-null float64
feature_68    34112 non-null float64
feature_69    34112 non-null float64
feature_70    34136 non-null int64
feature_71    34112 non-null float64
feature_76    34112 non-null float64
feature_78    34112 non-null float64
0             34136 non-null int64
0.0           34136 non-null uint8
1.0           34136 non-null uint8
2.0           34136 non-null uint8
3.0           34136 non-null uint8
4.0           34136 non-null uint8
5.0           34136 non-null uint8
6.0           34136 non-null uint8
7.0           34136 non-null uint8
8.0           34136 non-null uint8
9.0           34136 non-null uint8
10.0          34136 non-null uint8
12.0          34136 non-null uint8
13.0          34136 non-null uint8
17.0          34136 non-null uint8
32.0          34136 non-null uint8
51.0          34136 non-null uint8
52.0          34136 non-null uint8
53.0          34136 non-null uint8
54.0          34136 non-null uint8
1             34136 non-null float64
2             33985 non-null float64
3             34136 non-null int64
4             33935 non-null float64
5             17848 non-null float64
6             34136 non-null int64
7             17848 non-null float64
8             26088 non-null float64
dtypes: float64(25), int64(10), uint8(19)
memory usage: 9.7 MB

In [134]:
aa = df3[df3.customer_no == 1]
Counter(aa.enq_purpose).most_common(1)[0][0]

2.0

In [121]:
# df3['do_ed'] = df3.dt_opened - df3.enquiry_dt
# df3.groupby('customer_no')['do_ed'].mean()

In [213]:
df2.drop(cats,axis=1)

,dt_opened,customer_no,entry_time,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_9,...,feature_68,feature_69,feature_70,feature_71,feature_74,feature_75,feature_76,feature_77,feature_78,Bad_label
0,258,13001,263,263,650.0,2.0,Card Setup,14.0,500000.0,NaN,...,2.0,90000.0,61,21.0,NaN,0000-00-00,0.0,98332XXXXX,1.0,0
1,255,13002,255,255,760.0,1.0,Card Setup,14.0,1200000.0,NaN,...,2.0,1.0,61,17.0,NaN,0000-00-00,0.0,99455XXXXX,1.0,0
2,254,13003,255,255,774.0,1.0,Card Setup,14.0,700000.0,NaN,...,2.0,1.0,61,17.0,NaN,0000-00-00,0.0,98456XXXXX,1.0,0
3,251,13004,261,256,770.0,1.0,Card Setup,14.0,500000.0,NaN,...,2.0,100000.0,61,21.0,NaN,6/15/65,1.0,98220XXXXX,1.0,0
4,240,13005,246,74,NaN,3.0,Card Setup,14.0,500000.0,NaN,...,2.0,300000.0,61,13.0,NaN,0000-00-00,0.0,98111XXXXX,1.0,0
5,234,13006,240,240,779.0,1.0,Card Setup,14.0,1000000.0,NaN,...,2.0,1.0,61,21.0,NaN,10/27/63,1.0,99870XXXXX,1.0,0
6,224,13007,240,240,762.0,1.0,Card Setup,14.0,100000.0,NaN,...,1.0,1.0,365,10.0,NaN,0000-00-00,0.0,98100XXXXX,1.0,0
7,224,13008,231,231,799.0,1.0,Card Setup,14.0,357000.0,NaN,...,2.0,1.0,61,21.0,NaN,0000-00-00,0.0,96865XXXXX,1.0,0
8,218,13009,231,231,762.0,1.0,Card Setup,14.0,550000.0,NaN,...,2.0,1.0,61,21.0,NaN,0000-00-00,0.0,99676XXXXX,1.0,1
9,216,13010,219,219,784.0,1.0,Card Setup,14.0,1017000.0,NaN,...,2.0,1.0,61,21.0,NaN,0000-00-00,0.0,98100XXXXX,1.0,0
10,216,13011,219,219,810.0,1.0,Card Setup,14.0,500000.0,NaN,...,2.0,1.0,61,10.0,NaN,0000-00-00,0.0,98738XXXXX,1.0,0
11,216,13012,219,219,835.0,1.0,Card Setup,14.0,1200000.0,NaN,...,2.0,1.0,61,21.0,NaN,0000-00-00,0.0,96644XXXXX,1.0,0
12,214,13013,218,218,742.0,1.0,Card Setup,14.0,550000.0,NaN,...,1.0,1.0,365,21.0,NaN,0000-00-00,0.0,98210XXXXX,1.0,1
13,211,13014,213,213,643.0,2.0,Card Setup,14.0,500000.0,NaN,...,2.0,60000.0,275,21.0,NaN,0000-00-00,0.0,96195XXXXX,1.0,0
14,210,13015,223,223,740.0,3.0,Card Setup,14.0,300000.0,NaN,...,2.0,1.0,61,10.0,NaN,0000-00-00,0.0,98102XXXXX,1.0,0
15,196,13016,198,198,693.0,3.0,Card Setup,14.0,500000.0,NaN,...,2.0,1.0,61,21.0,NaN,9/1/60,1.0,99209XXXXX,1.0,0
16,185,13017,189,189,664.0,2.0,Card Setup,14.0,300000.0,NaN,...,2.0,1.0,61,21.0,NaN,0000-00-00,0.0,81495XXXXX,1.0,0
17,183,13018,185,185,753.0,1.0,Card Setup,14.0,500000.0,NaN,...,2.0,1.0,61,13.0,NaN,10/16/71,1.0,95600XXXXX,1.0,1
18,179,13019,183,183,728.0,1.0,Card Setup,14.0,500000.0,NaN,...,2.0,1.0,61,21.0,NaN,1/15/96,2.0,95949XXXXX,1.0,0
19,179,13020,183,183,727.0,1.0,Card Setup,14.0,500000.0,NaN,...,2.0,1.0,61,21.0,NaN,10/26/84,1.0,98200XXXXX,1.0,0
20,163,13021,189,189,763.0,1.0,Card Setup,14.0,700000.0,NaN,...,2.0,2000000.0,61,21.0,NaN,0000-00-00,0.0,96191XXXXX,1.0,0
21,163,13022,165,165,872.0,1.0,Card Setup,14.0,500000.0,NaN,...,2.0,1.0,61,31.0,NaN,0000-00-00,0.0,94445XXXXX,1.0,0
22,163,13023,184,183,835.0,1.0,Card Setup,14.0,800000.0,NaN,...,2.0,500000.0,61,31.0,NaN,0000-00-00,0.0,99520XXXXX,1.0,0
23,158,13024,160,160,623.0,2.0,Card Setup,14.0,200000.0,NaN,...,2.0,1.0,61,35.0,NaN,0000-00-00,0.0,98308XXXXX,1.0,0
24,156,13025,156,156,787.0,1.0,Card Setup,14.0,1000000.0,NaN,...,1.0,250000.0,365,21.0,NaN,0000-00-00,0.0,98203XXXXX,1.0,0
25,154,13026,158,74,NaN,2.0,Card Setup,14.0,500000.0,NaN,...,2.0,1.0,61,21.0,NaN,0000-00-00,0.0,98118XXXXX,1.0,0
26,149,13027,165,165,-1.0,2.0,Card Setup,14.0,200000.0,NaN,...,2.0,1.0,61,10.0,NaN,0000-00-00,0.0,98112XXXXX,1.0,0
27,149,13028,154,154,746.0,1.0,Card Setup,14.0,300000.0,NaN,...,1.0,1.0,365,10.0,NaN,0000-00-00,0.0,98105XXXXX,1.0,0
28,147,13029,154,154,676.0,2.0,Card Setup,14.0,300000.0,NaN,...,1.0,1.0,365,10.0,NaN,0000-00-00,0.0,99103XXXXX,1.0,0
29,143,13030,162,162,837.0,3.0,Card Setup,14.0,500000.0,NaN,...,2.0,100000.0,365,31.0,NaN,0000-00-00,0.0,98404XXXXX,1.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34106,1,10211,17,17,780.0,1.0,Card Setup,14.0,203000.0,NaN,...,1.0,47000.0,365,17.0,NaN,0000-00-00,0.0,99168XXXXX,1.0,0
34107,1,10212,21,21,705.0,1.0,Card Setup,14.0,174000.0,NaN,...,2.0,30000.0,148,2.0,NaN,0000-00-00,0.0,96424XXXXX,1.0,0
34108,1,10213,115,115,705.0,3.0,Card Setup,14.0,222000.0,NaN,...,1.0,1.0,365,12.0,NaN,0000-00-00,0.0,84889XXXXX,1.0,0
34109,1,10214,11,11,773.0,1.0,Card Setup,14.0,115000.0,NaN,...,1.0,1.0,365,10.0,NaN,0000-00-00,0.0,XXXXX,1.0,0
34110,1,10215,18,74,NaN,1.0,Card Setup,14.0,57000.0,NaN,...,2.0,1.0,180,10.0,NaN,0000-00-00,0.0,98182XXXXX,1.0,0
34111,1,10216,31,31,697.0,1.0,Card Setup,14.0,66000.0,NaN,...,1.0,40000.0,365,10.0,NaN,0000-00-00,0.0,96506XXXXX,1.0,0
34112,1,10217,21,21,740.0,1.0,Card Setup,14.0,258000.0,NaN,...,1.0,50000.0,365,21.0,NaN,0000-00-00,0.0,98332XXXXX,1.0,0
34113,1,10218,26,26,682.0,3.0,Card Setup,14.0,56000.0,NaN,...,1.0,20000.0,365,2.0,NaN,0000-00-00,0.0,81257XXXXX,1.0,0
34114,85,10219,101,101,767.0,3.0,Card Setup,14.0,130000.0,NaN,...,2.0,30000.0,92,10.0,NaN,0000-00-00,0.0,98738XXXXX,1.0,0
34115,18,10220,67,67,673.0,3.0,Card Setup,14.0,68000.0,NaN,...,1.0,28000.0,365,17.0,NaN,0000-00-00,0.0,98455XXXXX,1.0,0
34116,56,10221,113,113,741.0,3.0,Card Setup,14.0,163000.0,Contactability Failure at Office,...,1.0,54250.0,365,13.0,NaN,0000-00-00,0.0,97183XXXXX,1.0,0
34117,93,10222,120,120,711.0,3.0,Card Setup,14.0,99000.0,NaN,...,1.0,1.0,365,10.0,NaN,0000-00-00,0.0,95608XXXXX,1.0,0
34118,4,10223,36,36,715.0,1.0,Card Setup,14.0,87000.0,NaN,...,1.0,34500.0,365,10.0,NaN,0000-00-00,0.0,99108XXXXX,1.0,0
34119,84,10224,107,107,713.0,3.0,Card Setup,14.0,104000.0,NaN,...,1.0,50000.0,365,10.0,NaN,0000-00-00,0.0,99531XXXXX,1.0,0
34120,41,10225,60,60,682.0,3.0,Card Setup,14.0,66000.0,NaN,...,1.0,1.0,365,33.0,NaN,0000-00-00,0.0,98111XXXXX,1.0,0
34121,113,10226,127,74,NaN,2.0,Card Setup,14.0,111000.0,NaN,...,1.0,45000.0,365,10.0,NaN,0000-00-00,0.0,96502XXXXX,1.0,0
34122,8,10227,32,32,704.0,1.0,Card Setup,14.0,107000.0,NaN,...,1.0,1.0,365,10.0,NaN,0000-00-00,0.0,XXXXX,1.0,0
34123,25,10228,53,53,752.0,1.0,Card Setup,14.0,127000.0,NaN,...,1.0,1.0,365,12.0,NaN,0000-00-00,0.0,88660XXXXX,1.0,0
34124,122,10229,142,142,700.0,3.0,Card Setup,14.0,91000.0,NaN,...,1.0,1.0,365,13.0,NaN,0000-00-00,0.0,97164XXXXX,1.0,0
34125,46,10230,78,78,685.0,3.0,Card Setup,14.0,91000.0,NaN,...,1.0,1.0,365,10.0,NaN,0000-00-00,0.0,99991XXXXX,1.0,0
34126,92,10231,109,109,705.0,3.0,Card Setup,14.0,90000.0,NaN,...,1.0,1.0,365,10.0,NaN,0000-00-00,0.0,99534XXXXX,1.0,0
34127,11,10232,50,50,715.0,1.0,Card Setup,14.0,408000.0,NaN,...,1.0,1.0,365,13.0,NaN,0000-00-00,0.0,99998XXXXX,1.0,0
34128,18,10233,38,38,669.0,3.0,Card Setup,14.0,71000.0,NaN,...,1.0,1.0,365,10.0,NaN,0000-00-00,0.0,XXXXX,1.0,0
34129,79,10234,106,74,NaN,2.0,Card Setup,14.0,45000.0,NaN,...,1.0,29986.0,365,33.0,NaN,0000-00-00,0.0,85888XXXXX,1.0,0
34130,2,10235,10,10,720.0,1.0,Card Setup,14.0,240000.0,NaN,...,2.0,100000.0,61,21.0,NaN,0000-00-00,0.0,98331XXXXX,1.0,0
34131,3,10236,30,74,NaN,2.0,Card Setup,14.0,56000.0,NaN,...,1.0,40000.0,365,10.0,NaN,0000-00-00,0.0,99582XXXXX,1.0,0
34132,10,10237,30,30,676.0,3.0,Card Setup,14.0,83000.0,NaN,...,1.0,1.0,365,33.0,NaN,0000-00-00,0.0,XXXXX,1.0,0
34133,15,10238,45,45,726.0,1.0,Card Setup,14.0,114000.0,NaN,...,1.0,38000.0,365,2.0,NaN,0000-00-00,0.0,88862XXXXX,1.0,0
34134,56,10239,106,106,736.0,3.0,Card Setup,14.0,121000.0,NaN,...,1.0,42000.0,365,13.0,NaN,0000-00-00,0.0,90157XXXXX,1.0,0
34135,25,10240,87,87,724.0,3.0,Card Setup,14.0,131000.0,Contactability Failure at Office,...,1.0,52256.0,365,31.0,NaN,0000-00-00,0.0,84899XXXXX,1.0,0

In [178]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:85% !important; }</style>"))